# Indicates which files should be ignored by Git

# Ignore all non-config / non-hidden files
*
!.*
!.*/**

# Arduino packages
/.arduino*/

# ASP.NET config files
/.aspnet

# Audacity prefs
/.audacity-data/

# Temporary caches created by programs
/.cache/

# Where the Git bare repo exists for dot files
/.cfg/

# Store for debug symbols
/.debug/

# Docker temporary data
/.docker/

# .NET config files
/.dotnet

# Emscripten SDK cached files
/.emscripten_cache

# Folding@Home client settings
/.FAHClient/

# Locally installed fonts
/.fonts/

# FreeCAD settings
/.FreeCAD/

# Flutter-related settings
/.flutter
/.flutter_tool_state

# GHC temporary files
/.ghc/

# gpg database
/.gnupg/

# HP printers config dir
/.hplip/

# Hasura database engine
/.hasura/

# IntelliJ Idea files
/.Idea*/
/.IntelliJIdea*/

# IPython config and temporary files
/.ipython/

# Keras cache and config directory
/.keras/

# Linux games from Klei Entertainment
/.klei/

# Jupyter Notebooks settings
/.jupyter/

# Locally installed libraries
/.local/lib/

# Locally installed app data
/.local/share/

# Best game ever
/.minecraft

# Mono runtime data
/.mono/

# Firefox user data
/.mozilla/

# Nuget package cache
/.nuget/

# NVIDIA driver cache
/.nv/
/.nvidia-settings-rc

# NuGet package cache directory
/.nuget/

# OpenJFX cache
/.openjfx/

# PhpStorm settings are synchronized by the IDE
/.PhpStorm*/

# Settings for Prusa 3D slicer
/.PrusaSlicer/

# PyCharm stores settings here too
/.PyCharm*/

# Security certificates
/.pki/

# Statistics recorded by the Python linter
/.pylint.d/

# R Studio settings
/.rstudio-desktop/

# Scala Build Tool
/.sbt/

# Oracle SQL Developer settings
/.sqldeveloper/

# Symbolic links to Steam install
/.steam*

# SSH private config files
/.ssh/

# Created by sudo
/.sudo_as_admin_successful

# .NET templating engine cache
/.templateengine

# Temporary storage for the VS Code C++ plugin data
/.vscode-cpptools/

# WebStorm settings
# These are synchronised by the IDE
/.WebStorm*/

# Default Wine prefix
/.wine/

# Zoom teleconferencing software database
/.zoom/

## Desktop environment files ##

# GTK color and font settings
/.gtkrc-*

# KDE color settings
/.kde4/

# KDE face icon
/.face*

## Programming-related tools ##

# Rust install
/.cargo/
/.rustup/

# VS Code extensions
/.vscode/

# Files left behind by the Android SDK and Android Studio
/.AndroidStudio*/
/.android/

# Gradle cache files
/.gradle/

# Anthy - Japanese input
/.anthy

# Java app preferences
/.java/

# History files
/.*hst*
/.*hist*

# Authentication tokens
/.*auth*

# Cookie for PulseAudio
/.pulse-cookie

# Errors reported by X11
/.xsession-errors*
