# Indicates which files should be ignored by Git

# Ignore all non-config / non-hidden files
*
!.*
!.*/**

# Arduino packages
/.arduino*/

# Audacity prefs
/.audacity-data/

# Temporary caches created by programs
/.cache/

# Where the Git bare repo exists for dot files
/.cfg/

# Store for debug symbols
/.debug/

# Docker temporary data
/.docker/

# Locally installed fonts
/.fonts/

# GHC temporary files
/.ghc/

# gpg database
/.gnupg/

# HP printers config dir
/.hplip/

# IPython config and temporary files
/.ipython/

# Keras cache and config directory
/.keras/

# Linux games from Klei Entertainment
/.klei/

# Jupyter Notebooks settings
/.jupyter/

# Locally installed libraries
/.local/lib/

# Locally installed app data
/.local/share/

# Best game ever
/.minecraft/

# Firefox user data
/.mozilla/

# NVIDIA driver cache
/.nv/
/.nvidia-settings-rc

# PhpStorm settings are synchronized by the IDE
/.PhpStorm*/

# PyCharm stores settings here too
/.PyCharm*/

# Security certificates
/.pki/

# Statistics recorded by the Python linter
/.pylint.d/

# R Studio settings
/.rstudio-desktop/

# Scala Build Tool
/.sbt/

# Symbolic links to Steam install
/.steam*

# SSH private config files
/.ssh/

# Temporary storage for the VS Code C++ plugin data
/.vscode-cpptools/

# WebStorm settings
# These are synchronised by the IDE
/.WebStorm*/

# Default Wine prefix
/.wine/


## Desktop environment files ##

# GTK color and font settings
/.gtkrc-*

# KDE color settings
/.kde4/

# KDE face icon
/.face*

## Programming-related tools ##

# Rust install
/.cargo/
/.rustup/

# VS Code extensions
/.vscode/

# Files left behind by the Android SDK and Android Studio
/.AndroidStudio*/
/.android/

# Gradle cache files
/.gradle/

# Anthy - Japanese input
/.anthy

# Java app preferences
/.java/

# History files
/.*hst*
/.*hist*

# Authentication tokens
/.*auth*

# Cookie for PulseAudio
/.pulse-cookie

# Errors reported by X11
/.xsession-errors*
